<div class="flex">

    <img src="assets/images/img3.png" width="600" alt="">
    <div class="card">
        <div class="">
            <mat-card class="mat-elevation-z2">
                <div>
                    <div class="">
                        <mat-card-header>
                            <mat-card-title class="titre">E-mail</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            finaritratojoniriana@gmail.com
                        </mat-card-content>
                    </div>
                </div>
            </mat-card>
            <mat-card class="mat-elevation-z2">
                <div>
                    <div class="">
                        <mat-card-header>
                            <mat-card-title class="titre">Facebook</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            Finaritra Razanajaona
                        </mat-card-content>
                    </div>
                </div>
            </mat-card>
            <mat-card class="mat-elevation-z2">
                <div>
                    <div class="">
                        <mat-card-header>
                            <mat-card-title class="titre">Telephone</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            0329462008
                        </mat-card-content>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>