<div class="flex">
    <img src="assets/images/finaritra.png" width="700" alt="">
    <div class="blog">
        <mat-list>
            <mat-list-item class="titre">Mes Experiences</mat-list-item>

            <p>Faire une animation 3D est mon premier experience en informatique,c'est un projet par groupe mais j'ai
                participé
                aux activités comme modélisation, texture, animation des personnages, voix off </p>
            <p>Durant l'année universitaire 2019-2020, J'ai manipuler le framework php <strong>Laravel</strong>,
                une application web utile pour les grands hopitaux a été réalisé a partir de ce dernier.</p>
            <mat-divider></mat-divider>
            <mat-list-item class="titre">Mes Competences</mat-list-item>
            <p>une de mes competences professionnelles, manipuler wordpress(système de gestion de contenu gratuit, libre
                et
                open-source),
            </p>
            <p>Faire le montage video, savoir manipuler les logiciels des sons
            </p>
            <mat-divider></mat-divider>
            <button mat-button routerLink="/contact">
               Mes contacts
              </button>
        </mat-list>

    </div>
</div>
<h1></h1>

<h1></h1>